/** ===== General ===== */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e1e25;
  background-color: #f2f2f2;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

select {
  min-width: 100px;
}

/** ===== Header / navigation ===== */

.header {
  display: flex;
  flex-direction: row;
  padding-inline: 0.37rem;
  padding-block: 0.15rem;
  gap: 2.1rem;
  background-color: white;
  justify-content: space-between;
  box-shadow:
    0 6px 8px -1px rgb(0 0 0 / 0.125),
    0 4px 6px -2px rgb(0 0 0 / 0.125);
  color: #155b8e;
  overflow-x: auto;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.37rem;
  flex-shrink: 0;
}

.header-title img {
  background-color: #155b8e;
  border-radius: 2rem;
  padding: 0.2rem;
  width: 2rem;
  display: block;
}

.header-title h1 {
  font-size: 1.25rem;
  font-weight: 900;
  display: inline-block;
}

.header-genome-chooser {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 0.3rem;

  /** For dynamic vertical - but need to change gap property if used*/
  flex-wrap: wrap;
}

.header-genome-chooser > select {
  margin: 0 auto;
}

.header-condition-chooser {
  display: flex;
  flex-direction: row;
  gap: 0.15rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-inline: 0.25rem;
}

.header-condition-chooser > span {
  font-size: 0.75rem;
  font-weight: 800;
  margin-inline: 0.15rem;
  display: inline;
}

.header-buttons-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  overflow-x: auto;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0.37rem;
  /*border: 1px solid #155b8e44;*/
  border: 1px solid #cccccc;
  margin: 0.37rem 0rem;
  padding: 0.3rem;
  padding-inline: 0.5rem;
  font-size: 0.8rem;
}

.header-buttons .checkbox {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

/** ===== JBrowse customisations ===== */

.jbrowse-container {
  padding: 0rem 0rem;
}
.jbrowse-container > div > div,
.jbrowse-container > div {
  background-color: #e1e1e1 !important;
}
/**ridiculous hacks so jbrowse doesnt show it's logo and menu.
we 'can' remove logo, but menu would be confusing and unnecessary.
other option is to fork project, and i'm not quite that desperate yet. */
.jbrowse-container > div > div > div > div:first-child {
  min-height: 0.5rem;
}
.jbrowse-container > div > div > div > div:first-child > * {
  display: none;
}

/** half-stolen selector code below - shouold probably clean this up a bit.. */

select {
  appearance: none;
  @supports (appearance: base-select) {
    @media (hover: hover) {
      &,
      &::picker(select) {
        appearance: base-select;
      }
    }
  }
}

select {
  font-size: 0.89rem;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-items: center;
  color: white;
  padding-block: 5px;
  padding-inline: 30px 40px;
  border-radius: 2rem;
  border: 2px solid #155b8e;
  cursor: pointer;
  font-weight: 600;
  background: #155b8e
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A")
    right 10px center / 20px no-repeat;
  @media (hover: hover) {
    @supports (appearance: base-select) {
      padding-inline: 20px;
      background-image: none;
      &::picker-icon {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
        transition: rotate 0.15s ease-out;
      }
      &:open::picker-icon {
        rotate: 180deg;
      }
      &::picker(select) {
        padding: 0;
        margin-top: 5px;
        border: 2px solid #155b8e;
        background: white;
        border-radius: 20px;
        font-weight: 400;

        opacity: 0;
        height: 0;
        overflow: clip;
        transition:
          height 0.3s ease-out,
          opacity 0.3s ease-in-out,
          overlay 0.3s,
          display 0.3s;

        transition-behavior: allow-discrete;
      }
      &:open::picker(select) {
        opacity: 1;
        height: calc-size(auto, size);
        overflow: auto;
        @starting-style {
          opacity: 0;
          height: 0;
        }
      }
      optgroup {
        color: #155b8e;
      }
      option {
        padding: 15px 20px;
        border-top: 1px solid #155b8e;
        cursor: pointer;
        transition-property: color, background;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        &:where(:hover, :focus, :active) {
          background: dodgerblue;
          color: white;
        }
        &:checked {
          background: #155b8e;
          color: white;
        }
        &::checkmark {
          display: none;
        }
        &:first-child {
          border: 0;
        }
      }
    }
  }
}

/* condition selects only */
.condition-select {
  font-size: 0.78rem;
  color: #155b8e;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23155b8e'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E")
    right 10px center / 18px no-repeat;
  border: 1px solid #155b8e;
  border-radius: 1.5rem;
  padding-block: 2px;
  padding-inline: 1rem 1.5rem;
  font-weight: 500;
  max-width: 240px;
  min-width: 240px;
}

.condition-select > optgroup:first-child {
  padding-top: 0.37rem;
}

/** ===== DARK THEME =====*/
@media (prefers-color-scheme: dark) {
  html,
  body {
    color: white;
    background-color: #3a3a41;
  }

  input {
    color: black;
  }

  /** ===== Header / navigation ===== */

  .header {
    color: white;
    background-color: #111111;
  }

  .header-title h1 {
    color: dodgerblue;
  }

  .checkbox {
    color: black;
  }

  /** ===== JBrowse customisations ===== */

  .jbrowse-container > div > div,
  .jbrowse-container > div {
    background-color: #3a3a41 !important;
  }
}
