/** ===== General ===== */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #1e1e25;
  background-color: #f5f5f5;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

select {
  min-width: 100px;
}
/*
#root {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}*/

/** ===== Header / navigation ===== */

.header {
  display: flex;
  flex-direction: row;
  padding-inline: 0.37rem;
  padding-block: 0.05rem;
  gap: 0.5rem;
  background-color: white;
  justify-content: space-between;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.125),
    0 2px 4px -2px rgb(0 0 0 / 0.125);
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.37rem;
}

.header-title img {
  background-color: #155b8e;
  border-radius: 2rem;
  padding: 0.2rem;
  width: 2rem;
  display: block;
}

.header-title h1 {
  font-size: 1.25rem;
  display: inline-block;
  color: #155b8e;
}

.header-genome-chooser {
  display: flex;
  align-items: center;
  gap: 0.37rem;
}
/*
.header-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 2rem;
  border: 1px solid #155b8e;
  margin: 0.37rem 0rem;
  padding: 0.37rem;
  padding-inline: 1.5rem;
}

/** ===== JBrowse customisations ===== */

.jbrowse-container {
  padding: 0.2rem 0rem;
}
.jbrowse-container > div > div,
.jbrowse-container > div {
  background-color: #e1e1e1 !important;
}

/** ===== DARK THEME =====*/
@media (prefers-color-scheme: dark) {
  html,
  body {
    color: white;
    background-color: #2a2a31;
  }

  /** ===== Header / navigation ===== */

  .header {
    color: white;
    background-color: #1e1e25;
  }

  /** ===== JBrowse customisations ===== */

  .jbrowse-container > div > div,
  .jbrowse-container > div {
    background-color: #2a2a31 !important;
  }
}

select {
  appearance: none;
  @supports (appearance: base-select) {
    @media (hover: hover) {
      &,
      &::picker(select) {
        appearance: base-select;
      }
    }
  }
}

select {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  align-items: center;
  color: white;
  padding-block: 5px;
  padding-inline: 30px 40px;
  border-radius: 2rem;
  border: 2px solid #155b8e;
  cursor: pointer;
  font-weight: 600;
  background: #155b8e
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A")
    right 10px center / 20px no-repeat;
  @media (hover: hover) {
    @supports (appearance: base-select) {
      padding-inline: 20px;
      background-image: none;
      &::picker-icon {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23FFF' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m19.5 8.25-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E%0A");
        transition: rotate 0.15s ease-out;
      }
      &:open::picker-icon {
        rotate: 180deg;
      }
      &::picker(select) {
        padding: 0;
        margin-top: 5px;
        border: 2px solid #155b8e;
        background: white;
        border-radius: 20px;
        font-weight: 400;

        opacity: 0;
        height: 0;
        overflow: clip;
        transition:
          height 0.3s ease-out,
          opacity 0.3s ease-in-out,
          overlay 0.3s,
          display 0.3s;

        transition-behavior: allow-discrete;
      }
      &:open::picker(select) {
        opacity: 1;
        height: calc-size(auto, size);
        overflow: auto;
        @starting-style {
          opacity: 0;
          height: 0;
        }
      }
      option {
        padding: 15px 20px;
        border-top: 1px solid #155b8e;
        cursor: pointer;
        transition-property: color, background;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;
        &:where(:hover, :focus, :active) {
          background: dodgerblue;
          color: white;
        }
        &:checked {
          background: #155b8e;
          color: white;
        }
        &::checkmark {
          display: none;
        }
        &:first-child {
          border: 0;
        }
      }
    }
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
