/** ===== General ===== */

html,
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

select {
  min-width: 100px;
}
/*
#root {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}*/

/** ===== Header / navigation ===== */

.header {
  display: flex;
  flex-direction: row;
  padding-inline: 0.5rem;
  gap: 1rem;
}

.header h1 {
  font-size: 1.5rem;
}

.header-controls {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
